.container
  .center
    text-align: center
    margin-top: 100px
    
    h1
      margin-bottom: 30px
    a
      margin-left: 10px

    .info
      color: $alert-color
      margin-top: 20px

  .col-sm-9
    .title
      margin-bottom: 10px
