.micropost
  .gravatar
    border-radius: 100%
    width: 50px

  .delete:hover, .liked
    color: $alert-color

  .content
    margin-left: 65px
    position: relative

    a:hover
      color: $hover-color

    p
      margin: 10px 0

    .row
      padding: 0 5px 0 15px
      img
        margin-bottom: 10px
        padding: 0 10px 0 0

    .source-content
      background: #F2F2F5
      padding: 20px
      margin-top: 10px

      &:before
        content: ''
        display: block
        border-top: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 10px solid #F2F2F5
        border-left: 10px solid transparent
        position: absolute
        top: 40px

  .panel-footer
    text-align: center

    a
      border-right: 1px solid $border-color
      &:last-child
        border: none

    .like-animation
      animation: like-animation .5s

  .comments
    padding: 15px
    border-top: 1px solid $border-color

@keyframes like-animation
  0%
    font-size: 14px
  50%
    font-size: 18px
  100%
    font-size: 14px
