.microposts
  li
    @include clearfix
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: 1px solid $border-color
    
    .gravatar
      border-radius: 100%
      max-width: 80px
      width: 100%

    a:hover
      color: $hover-color
      text-decoration: none

    p
      margin-top: 10px

      .delete
        float: right

        &:hover
          color: $alert-color
          text-decoration: none
      .liked
        color: $alert-color
    img
      margin-top: 10px
