//= require bootstrap/dist/css/bootstrap.min.css
//= require nprogress/nprogress.css
//= require fontawesome/css/font-awesome.min.css

@import global

@import "blocks/*"
@import static_pages
@import users
@import sessions
@import password_resets
@import microposts
@import "admin/*"

////////////////////
//Global Settings //
////////////////////
body
  margin: 0
  padding: 50px 0 0
  font-family: "Hiragino Sans GB"
  font-size: 18px

h1, h2, h3, p
  padding: 0
  margin: 0

a
  color: black
  text-decoration: none
  &:hover
    color: black
    text-decoration: underline

ul
  padding: 0
  list-style: none

i
  margin-right: 5px

*
  box-sizing: border-box

.container
  width: 1280px
  margin: 0 auto
  padding: 0 15px

  .alert
    margin-top: 20px
