//= require jquery.atwho

//= require bootstrap/dist/css/bootstrap.min.css
//= require nprogress/nprogress.css
//= require sweetalert/lib/sweet-alert.css
//= require fontawesome/css/font-awesome.min.css

@import global

@import "blocks/*"
@import static_pages
@import users
@import sessions
@import password_resets
@import microposts
@import "admin/*"

////////////////////
//Global Settings //
////////////////////
body
  margin: 0
  padding: 50px 0 0
  font-family: "Hiragino Sans GB"
  font-size: 14px
  background: url(/assets/body_bg.jpg) no-repeat
  background-size: 100% 100%
  background-attachment: fixed

h1, h2, h3, p
  padding: 0
  margin: 0

a
  text-decoration: none
  
  &:hover
    text-decoration: none

i
  margin-right: 5px

*
  box-sizing: border-box

  .alert
    margin-top: 20px
