///////////////
// variables //
///////////////
$border-color: #DDD
$hover-color: #29D
$alert-color: #C52F24
$info-link-color: #2196F3

///////////
// mixin //
///////////
@mixin clearfix
  &:after
    content: ''
    display: block
    clear: both

/////////////////////////
// loader.css coverage //
/////////////////////////
.loader-inner div
  background-color: #000

////////////////////////
// bootstrap coverage //
////////////////////////
.panel
  border: none
  border-radius: 0!important
  margin-bottom: 10px!important
  .panel-heading
    border-bottom: 1px solid $border-color

input,
textarea,
.btn,
.alert,
.modal-content,
.list-group-item
  border-radius: 0!important

select
  -webkit-appearance: none
  // -moz-appearance: none
  border-radius: 0!important
