///////////////
// variables //
///////////////
$border-color: #DDD
$hover-color: #29D
$alert-color: #C52F24
$info-link-color: #2196F3

///////////
// mixin //
///////////
@mixin clearfix
  &:after
    content: ''
    display: block
    clear: both

//////////////
// coverage //
//////////////
.panel
  border: none
  border-radius: 0!important
  margin-bottom: 10px!important
  .panel-heading
    border-bottom: 1px solid #ddd

.btn, input, textarea, .modal-content
  border-radius: 0!important
