.users
  &.show
    /* sidebar */
    aside
      .user-info
        padding: 10px 0
        margin-top: 20px
        h1
          font-size: 1.4em
          text-align: left
          letter-spacing: -1px
          margin-bottom: 3px
          margin-top: 0px
          .gravatar
            float: left
            margin-right: 10px
          .gravatar_edit
            margin-top: 15px
    .microposts
      list-style: none
      padding: 0
      li
        padding: 20px 0
        border-bottom: 1px solid #e8e8e8
      .user
        margin-top: 5em
        padding-top: 0
      .content
        display: block
        margin-left: 60px
      .timestamp
        color: #777
        display: block
        margin-left: 60px
      .gravatar
        float: left
        position: relative
        top: -10px
        margin-right: 20px
        margin-left: 10px

  &.new, &.create
    /* forms */
    input, textarea, select, .uneditable-input
      border: 1px solid #bbb
      width: 100%
      margin-bottom: 15px
    input
      height: auto !important

  &.edit, &.update
    .gravatar
      float: left
      margin-right: 10px
    .gravatar_edit
      margin-top: 15px
    /* forms */
    input, textarea, select, .uneditable-input
      border: 1px solid #bbb
      width: 100%
      margin-bottom: 15px
    input
      height: auto !important

  &.index
    .users
      list-style: none
      margin: 0
      li
        overflow: auto
        padding: 10px 0
        border-bottom: 1px solid #eaeaea
