.users-page
  &.new, &.create
    @import "pages/users/new"

  &.show
    @import "pages/users/show"

  &.following, &.followers
    @import "pages/users/show_follow"

  &.edit, &.update
    .gravatar
      float: left
      margin-right: 10px
    .gravatar_edit
      margin-top: 15px
    /* forms */
    input, textarea, select, .uneditable-input
      border: 1px solid #bbb
      width: 100%
      margin-bottom: 15px
    input
      height: auto !important
